a:not(.unstyled)
	color: white

	&::before
		display: inline-block
		margin: 0 0.5ch 0 0.05ch
		vertical-align: -0.25em
		max-height: 1em
		width: calc(1em + 0.33ch)
		content: url("./i/arrow-up-right-from-square-solid.svg")
		filter: invert(1)

	> sub
		text-decoration: none
		margin: 0 0.33ch 0 -0.33ch

	&.self
		background: var(--accent)
		color: black
		&::before
			filter: none

	&[href*="12beesinatrenchco.at"]
		&::before
			content: url("./i/12bztc-logo.svg")
			vertical-align: 0em

	&[href*="music.apple.com"]
		background: #fa243c
		&::before
			content: url("./i/apple-music.svg")


	&[href*="bandcamp.com"]
		background: #1da0c3
		&::before
			content: url("./i/bandcamp.svg")


	&[href*="discord.gg"], &.discord
		background: #5865F2
		&::before
			content: url("./i/discord.svg")
			vertical-align: -0.125em


	&[href*="github.com"]
		background: white
		color: black
		&::before
			content: url("./i/github.svg")
			filter: none

	&[href*="instagram.com"]
		background: #ff0069 // There's technically a gradient, but screw that
		&::before
			content: url("./i/instagram.svg")

	&[href*="itch.io"]
		background: #fa5c5c
		&::before
			content: url("./i/itch-io.svg")


	&[href*="kitsu.io"]
		background: #FD755C
		&::before
			content: url("./i/kitsu.svg")


	&[href*="last.fm"]
		background: #ba0000
		&::before
			content: url("./i/lastfm.svg")


	&[href*="osu"]
		background: #ff66aa
		&::before
			content: url("./i/osu.svg")


	&[href*="steam"]
		background: black
		&::before
			content: url("./i/steam.svg")


	&[href*="tumblr.com"]
		background: #001935
		&::before
			content: url("./i/tumblr.svg")
			/* Because non-square aspect ratio. */
			width: 1.25ch
			padding: 0 0.25ch
			vertical-align: -0.225em

	&[href*="twitter.com"]
		background: #1d9bf0
		&::before
			content: url("./i/twitter.svg")

	&[href*="urusai.social"] // Mastodon
		background: #6364FF
		&::before
			content: url("./i/mastodon.svg")
			vertical-align: -0.3em


	&[href*="youtube.com"]
		background: #ff0000
		&::before
			content: url("./i/youtube.svg")
			vertical-align: -0.125em

	&[href^="mailto:"]
		&::before
			content: url("./i/envelope-solid.svg")
			vertical-align: -0.25em
