a:not(.unstyled)
	--fg: white

	> .handle::before
		display: inline-block
		margin: 0 0.5ch 0 0.05ch
		vertical-align: -0.25em
		max-height: 1em
		width: calc(1em + 0.33ch)
		content: url("./i/arrow-up-right-from-square-solid.svg")
		filter: invert(1)

		@media (prefers-color-scheme: dark)
			filter: invert(1) !important

	> sub
		text-decoration: none
		margin: 0 0.33ch 0 -0.33ch

	&.self
		--accent: #66f060
		--fg: black
		> .handle::before
			filter: none

	&[href*="12beesinatrenchco.at"]
		> .handle::before
			content: url("./i/12bztc-logo.svg")
			vertical-align: 0em

	&[href*="music.apple.com"]
		--accent: #fa243c
		> .handle::before
			content: url("./i/apple-music.svg")

	&[href*="bandcamp.com"]
		--accent: #1da0c3
		> .handle::before
			content: url("./i/bandcamp.svg")

	&[href*="discord.gg"], &.discord
		--accent: #5865F2
		> .handle::before
			content: url("./i/discord.svg")
			vertical-align: -0.125em

	&[href*="etternaonline.com"]
		--accent: #9060F6
		> .handle::before
			content: url("./i/etterna.svg")
			vertical-align: 0em

	&[href*="github.com"]
		--accent: white
		--fg: black
		> .handle::before
			content: url("./i/github.svg")
			filter: none

	&[href*="instagram.com"]
		--accent: #ff0069
		> .handle::before
			content: url("./i/instagram.svg")

	&[href*="itch.io"]
		--accent: #fa5c5c
		> .handle::before
			content: url("./i/itch-io.svg")

	&[href*="kitsu.io"]
		--accent: #FD755C
		> .handle::before
			content: url("./i/kitsu.svg")

	&[href*="last.fm"]
		--accent: #ba0000
		> .handle::before
			content: url("./i/lastfm.svg")

	&[href*="osu"]
		--accent: #ff66aa
		> .handle::before
			content: url("./i/osu.svg")

	&[href*="steam"]
		--accent: black
		> .handle::before
			content: url("./i/steam.svg")

	&[href*="tumblr.com"]
		--accent: #001935
		> .handle::before
			content: url("./i/tumblr.svg")
			/* Because non-square aspect ratio. */
			width: 1.25ch
			padding: 0 0.25ch
			vertical-align: -0.225em

	&[href*="twitter.com"]
		--accent: #1d9bf0
		> .handle::before
			content: url("./i/twitter.svg")

	&[href*="urusai.social"] // Mastodon
		--accent: #6364FF
		> .handle::before
			content: url("./i/mastodon.svg")
			vertical-align: -0.3em

	&[href*="youtube.com"]
		--accent: #ff0000
		> .handle::before
			content: url("./i/youtube.svg")
			vertical-align: -0.125em

	&[href^="mailto:"]
		> .handle::before
			content: url("./i/envelope-solid.svg")
			vertical-align: -0.25em
